<!--
  Name: Andre Agrippa
  Date: 04/14/2021
  Purpose: Page for about me.
-->
<h1 class = "display-1 text-center">About Me</h1>
<table class="aboutTable center">
  <thead>
    <tr>
      <th class = "text-center">Andre Agrippa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class ="text-center"><img src="/Assets/images/andrelogo.jpg" alt="" width="300" height = "250"/></td>
    </tr>
  </tbody>
</table>
  <h2>Education</h2>
  <h4 class = "blackBorder">
    <li>2019 - Present: Currently enrolled at Durham College for Computer Programmer and Analysis</li>
    <li>2018: Université de Montréal Level 4 French Explore Program</li>
    <li>2013 - 2017: Graduate student of Ajax High School (Grade 12)</li>
  </h4>
  <h2>Achievements</h2>
    <h4 class = "blackBorder">
     <li>2021: Bell Geekfest - 2nd Place</li>
     <li>2019-Present: Durham College - Honour Roll</li> 
     <li>2015: Recipient of the Brian English Scholarship (OMHA Referee School)</li> 
    </h4>
  </br/>
<p class = "blackBorder">I'm a 2nd year student at Durham College in the Computer Programming and Analysis program. 
    I've been coding for several years now because I always enjoy a challenge and always looking to improve in this aspect. 
    I am looking to improve my project management and problem-solving skills
    You can see my services <a href="/services">here</a>.
    For further information about myself and my work experience you can download my resume below.
    </br>
    </br>
    <a class = "fa-lg" href="/Assets/resume/andre_resume.pdf" download>Resume Download</a><p>
    