<!--
  Name: Andre Agrippa
  Date: 04/14/2021
  Purpose: Page for home.
-->
<h1 class = "display-1 text-center">Welcome to my portfolio!</h1>
<br/>
<div class="class blackBorder">
<h4> <a class = "fa-md"href="/about">Click here to learn more about me!</a> </h4>
<h4>For other inquiries please refer to the navigation bar above</h4>

</div>