<!--
  Name: Andre Agrippa
  Date: 04/14/2021
  Purpose: Page for projects.
-->
<h1 class = "display-1 text-center">My Projects</h1>
<br/>
<h3>Project 1: C# Windows Forms App, Durak Card Game</h3>
<p class = "blackBorder">This project allows the user to play a game of Durak. It covers object-oriented concepts such as encapsulation, polymorphism, inheritance as well as
  other concepts. The form has its own control CardBox control which is how the cards are displayed on the form. Also writes logs for player statistics and game events (card played, roles swapped)</p>
<img src="/Assets/images/p1.png" alt="" width="600" height = "350"/>
<img src="/Assets/images/p1.1.png" alt="" width="600" height = "350"/>
<h3>Project 2: Laravel: Sushi Ordering Website</h3>
<p class = "blackBorder">This project was done in a group of three people, completed within one semester. The purpose of this application is 
  to create a streamlined ordering process that can also keep track of consumer and market trends while enhancing customer experience. Laravel
  is one of the few MVC frameworks I've worked with yet it has been good to me once I've understood the way eloquent works. This project focuses on
  a relational database that is in <a class = "fa-md"href="https://en.wikipedia.org/wiki/Third_normal_form">third normal form.</a> The project timeline consisted
  of the early days (3-4 weeks) working on database design, security considerations, user requirements, functional dependencies and more. Midway point (3-4 weeks) 
  we focused on implementing those ideas into our laravel application. Towards the last few weeks our group focused on finalizing all of the sections of 
  our application and hosting it on a cloud service provider. We chose heroku and the website can be found <a class = "fa-md"href="http://sushibaikiyoshi.herokuapp.com/">here!!</a>
</p>
<img src="/Assets/images/p2.png" alt="" width="1300" height = "550"/>
<img src="/Assets/images/p2.1.png" alt="" width="1300" height = "500"/>
<h3>Project 3: Call Center Report</h3>
<p class = "blackBorder">This program was made with Cobol (Common Business-Oriented Language) and it takes in a .dat file of call center workers
  and their calls for the months of July to June. This program neatly outputs the amount of calls for each operator and 
  calculates their total calls, their average calls and, the remainder of their average calls. Towards the bottom you will see various other
  statistics that were required to be outputted.
</p>
<img src="/Assets/images/p3.1.png" alt="" width="500" height = "500"/>
    <img src="/Assets/images/p3.png" alt="" />