<!--
  Name: Andre Agrippa
  Date: 04/14/2021
  Purpose: Page for services.
-->
<h1 class="text-center display-1">My Services</h1>
<!-- Three columns of text below the carousel -->
<div class="row">
    <div class="col-lg-4">
        <img class="rounded-circle" src="/Assets/images/s1.jpg" alt="Generic placeholder image" width="400" height="350">        
        <h2 class = "text-center">Web Development</h2>
        <div class = "blackBorder">
        <p>I've started doing web development since 2019. I'm still learning different frameworks and software 
            while still enhancing my skills with my current knowledge.
            <br/><br/>
            Front-End: JavaScript, HTML, CSS
            <br/> 
            Back-End: Java, PHP
            <br/> 
            Other: Node.js,Laravel, jQuery, Express, Bootstrap EJS, JSP, ASP.NET MVC Pattern</p>
        </div>
      </div><!-- /.col-lg-4 -->    
      <div class="col-lg-4">
        <img class="rounded-circle" src="/Assets/images/s2.png" alt="Generic placeholder image" width="400" height="350">        
        <h2 class = "text-center">Programming Skills</h2>
        <div class = "blackBorder">
        <p>I offer a variety of different Programming skills. I began coding in 2016 but, 
            have improved immensely over the past few years.
            <br/><br/>
            Object-Oriented, Data Structures: C++, C#, Java
            <br/>
            Applications: GUIs, Console Applications
            <br/>
            Other: COBOL, Vista TN3270, Vb
            <br/><br/>
            I enjoy coding in Java and C# as they're more pure object oriented but I'm still comfortable with hybrid languages such as C++.</p>
        </div>
      </div><!-- /.col-lg-4 -->    
      <div class="col-lg-4">
        <img class="rounded-circle" src="/Assets/images/s3.png" alt="Generic placeholder image" width="400" height="350">        
        <h2 class = "text-center">Database Management System</h2>
        <div class = "blackBorder">
        <p>I offer a variety of database skills
            <br/><br/>
            Software used: PgAdmin4, MongoDBAtlas, Microsoft SQL Server Management Studio
            <br/><br/>
            I've created database systems with software such as Microsoft SQL Server, PgAdmin4 and, MongoDBAtlas. 
            There are times where I am asked to make a visible representation of a database system.
            I tend to make a design with Lucidchart or Microsoft Visio.
            I'm experienced with concepts such as determining mission statements, functional 
            and non-functional requirements, table designing (3NF) and, system overview (system boundary diagram, user-view diagram, relationship diagram etc.)</p>
        </div>
      </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

